@import url("https://fonts.cdnfonts.com/css/next-art");
@import url("https://fonts.cdnfonts.com/css/montserrat");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

h2 {
  @apply uppercase text-center tracking-wide text-marine font-normal font-titles;
}

h3 {
  @apply uppercase text-center tracking-wide text-marine font-normal font-titles text-xl;
}

h5 {
  @apply text-gold font-titles uppercase text-lg tracking-wide;
}

p {
  @apply font-light;
}

.elipse {
  position: absolute;
  z-index: 0;
  left: -20px;
  border-radius: 100%;
  // filter: blur(65px);
  fill: #0a9393;
}

@media screen and (max-width: 768px) {
  .elipse {
    max-width: 100%;
    width: 100%;
  }
}
