@import url("https://fonts.cdnfonts.com/css/next-art");
@import url("https://fonts.cdnfonts.com/css/montserrat");

@font-face {
  font-family: "NEXT ART";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/NEXT_ART_Light.otf") format("opentype");
}

@font-face {
  font-family: "NEXT ART";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NEXT_ART_Regular.otf") format("opentype");
}

@font-face {
  font-family: "NEXT ART";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/NEXT_ART_SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "NEXT ART";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NEXT_ART_Bold.otf") format("opentype");
}

@font-face {
  font-family: "NEXT ART";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/NEXT_ART_Heavy.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  font-family: "NEXT ART", sans-serif;
}

h1 {
  @apply w-8/12 md:w-full text-2xl md:text-4xl text-left md:text-center leading-tight md:leading-[3rem] font-titles font-bold uppercase;
}

h2 {
  @apply uppercase text-center tracking-wide text-marine font-normal font-titles;
}

h3 {
  @apply uppercase text-center tracking-wide text-marine font-normal font-titles text-xl;
}

h5 {
  @apply text-gold font-titles uppercase text-lg tracking-wide;
}

p {
  @apply font-light;
}

.elipse {
  position: absolute;
  z-index: 0;
  left: -20px;
  border-radius: 100%;
  // filter: blur(65px);
  fill: #0a9393;
}

@media screen and (max-width: 768px) {
  .elipse {
    max-width: 100%;
    width: 100%;
  }
}

// Program page
.program-page-layout {
  padding: 1rem 1.5rem;
  min-height: 100vh;
  background: url("/sources/second-bg.jpg") left;
}

.with-background {
  background: url("/sources/payment-bg.jpg") cover left;
}
